/*
Main colors for this app:
Charcoal blue: #2E4057 (3)
Seagrass: #66A182 (2)
Tea Green: #ECFFE6 (1)
Light Green: #AEF78E (Misc for minor highlight)
Yellow Green: #C0D461 (Misc for major highlight)
*/

html {
  background-color: #ECFFE6;
  color: #2E4057;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subblock {
  display: inline-block;
  text-align: center;
}

.task-adder {
  border: 0.2rem solid #2E4057;
}

.task-adder-header {
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.task-add-label {
  font-weight: 600;
  margin-right: 0.32rem;
}

.task-add-form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.task-add-button {
  width: 45%;
  margin: 0.3rem;
}